
    <!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>YelpCamp</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      
  </head>
  <body>
      <script type="text/javascript">

        var u_id = <%- JSON.stringify(currentUser) %>;

        function error(){
            var message_error = <%- message_error %>;
            if(message_error.length){
                swal({
                        icon:"error",
                        text:message_error[0],
                    });
        }}
        error();
        function success(){
            var message_success = <%- message_success %>;
            if(message_success.length){
                swal({
                        icon:"success",
                        text:message_success[0],
                    });
        }}
        success();
    </script>

  <nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="/">YelpCamp</a>
              
              
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a href="/campgrounds">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                <% } else { %>
                    
                    <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                    <li><span class="noti glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
                        <div class="noti-content">
                            <div class="noti-top-arrow"></div>
                            <ul id="notiContent"></ul>
                        </div>
                    </li>
                    <li><a href="/logout">Logout</a></li>
            
              
                <% } %>
            </ul>
          </div>
      </div>
  </nav>
  <div class="container">
  
  
 