<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1>Edit Comments to Campground </h1>
            <div style="width: 30%; margin:30px auto;">
                <form action="/campgrounds/<%= camp_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                    <div class="form-group">
                         <input type ="text" value="<%= comment.text %>" name ="comment[text]" class="form-control">
                    </div>
                    
                     <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Edit</button>
                    </div>
                </form>
                <a href="/campgrounds">Go back</a>
            </div>
    </div>
</div>
<% include ../partials/footer %>