<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1>Add New Comments to <%= camp.name %> </h1>
            <div style="width: 30%; margin:30px auto;">
                <form action="/campgrounds/<%= camp._id %>/comments" method="post">
                    <div class="form-group">
                         <input type ="text" id="comment_text" placeholder="text" name ="comment[text]" class="form-control">
                    </div>
                    
                     <div class="form-group">
                        <button id="comment_add" class="btn btn-lg btn-primary btn-block">Submit!!</button>
                    </div>
                </form>
                <a href="/campgrounds">Go back</a>
            </div>
    </div>
</div>
<% include ../partials/footer %>