<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= campground.name %></h1>
            <div style="width: 30%; margin:30px auto;">
                <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
                    <div class="form-group">
                         <input type ="text" value="<%= campground.name%>" name ="campground[name]" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[image]" id="image" pattern="^https:\/\/images\.unsplash\.com\/.*" title="Only images from images.unsplash.com allowed. See link below for instructions." placeholder="https://images.unsplash.com/..." value="<%= campground.image %>" required>
                        <small>Click <a href="https://youtu.be/Bn3weNRQRDE">here</a> for tutorial on how to copy unsplash urls.</small>
                        <!--<input type ="text" value="<%= campground.image %>" name="campground[image]" class="form-control">-->
                    </div>
                     <div class="form-group">
                        <input type ="number" value="<%= campground.price %>" name="campground[price]" class="form-control" min="0.01" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <input type ="text" value="<%= campground.description %>" name="campground[description]" class="form-control">
                    </div>
                     <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!!</button>
                    </div>
                </form>
                <a href="/campgrounds">Go back</a>
            </div>
    </div>
</div>
<% include ../partials/footer %>