
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* Campground show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

.noti-content{
  position:fixed;
  /* right:100px; */
  background:#e5e5e5;
  border-radius:4px;
  top:47px;
  width:250px;
  display:none;
  border: 1px solid #9E988B;
}
ul#notiContent{
  max-height:200px;
  overflow:auto;
  padding:0px;
  margin:0px;
  padding-left:20px;
}
  ul#notiContent li {
      margin:3px;
      padding:6px;
      background:#fff;
  }
  .noti-top-arrow{
      border-color:transparent;
      border-bottom-color:#F5DEB3;
      border-style:dashed dashed solid;
      border-width: 0 8.5px 8.5px;
      position:absolute;
      right:32px;
      top:-8px;
  }
  span.noti{
      color:#001515;
      margin:15px;
     position: relative;
      font-size:20px;
      cursor:pointer;
  }
  span.count{
      position:relative;
      top:-3px;
  }

